@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
}
body{
    font-family: "Open Sans", sans-serif;
}
header{
    background: #FFF8F3;
    position: relative;
}
header nav{
    margin-top: 51px;
    position: absolute !important;
    width: 100%;
}
nav a{
    flex-grow: 5;
}
nav #nav-list{
    width: 189px;
    justify-content: space-between;
}
nav button{
    background: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 19px 36px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}
/*==========banner part start==========*/
#banner{
    padding-top: 297px;
}
header .developer{
    position: absolute;
    top: 38px;
    margin-left: -210px;
}
#banner #ban-left h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
#banner #ban-left h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
#banner #ban-left h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
#banner #ban-left p{
    width: 585px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
#banner .row .btn{
    margin: 0;
    padding: 0;
}
#banner .row .btn .btn-right{
    margin-left: 30px;
}
#banner .row button{
    padding: 19px 24px;
    color: white;
    background: #FD6E0A;
    border-style: solid;
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
}
#banner .row button:hover{
    color: #FD6E0A;
    background: #FFF8F3;
}
#banner .row button span{
    margin-left: 10px;
}
#banner #ban-right{
    margin-top: 22px;
    right: 30px;
    position: relative;
}
#banner #ban-right .img{
    position: absolute;
    bottom: 0;
    right: -210px;
}
/*==========banner part end==========*/
/*==========about part start==========*/
.about-wrapper{
    background: #FFF8F3;
    margin: 130px 0;
    padding: 131px 157px;
    text-align: center;
}
.about-wrapper h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.about-wrapper p{
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
.about-wrapper .row{
    text-align: center;
}
.about-wrapper .row p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.about-wrapper .row h3{
    font-size: 20px;
    font-family: 700;
    color: #474747;
}
/*==========about part end==========*/
/*==========tech-skill part start==========*/
#tech-skill h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}
#tech-skill .tech-top p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin: 30px 115px 50px 116px;
    line-height: 30px;
    text-align: center;
}
#tech-skill .row .item{
    padding: 30px;
    -webkit-box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 377px;
}
#tech-skill .row .item h3{
    margin: 30px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
} 
#tech-skill .row .item p{
    width: 201px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
} 
/*==========tech-skill part end==========*/
/*==========summary part start==========*/
#summary h1{
    margin-top: 130px;
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}
#summary h2{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
#summary .qualification{
    width: 511px;
    margin: 30px 0;
    position: relative;
}
#summary .qualification::after{
    content: '';
    width: 558px;
    height: 1px;
    background: #D1D1D1;
    position: absolute;
}
#summary .qualified{
    margin: 30px 0;
}
#summary h3{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
#summary h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
#summary p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}
#summary button{
    margin: 0 423px 113px 470px;
    padding: 19px 24px;
    color: white;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
}
#summary button span{
    margin-left: 10px;
}
/*==========summary part end==========*/
/*==========footer part start==========*/
footer{
    background: #FFF8F3;
}
footer h2{
    padding-top: 138px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
footer .connect p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}
footer .connect .footer-icon{
    width: 24px;
    height: 24px;
    gap: 24px;
    color: #FD6E0A;
}
footer .information{
    margin-left: 117px;
}
footer .information input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}
footer .information .name-part{
    margin-top: 28px;
    margin-bottom: 24px;
}
footer .information input{
    width: 461px;
    border-radius: 5px;
    border: transparent;
    padding: 18px 0 18px 30px;
}
footer .information .message{
    margin: 24px 0;
}
footer .information .message input{
    width: 461px;
    padding-bottom: 134px;
}
footer .information button{
    padding: 18px 39px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    margin-bottom: 119px;
}
/*==========footer part end==========*/